*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
header{
    border: 1px solid rgb(172, 172, 172);
}
.headertop{
    background-color: rgb(216, 214, 214);
    padding: 0.25rem 0;
    font-size: 0.75rem;
    font-weight: 600;
}
.container{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}
.headertop .container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.languageSelect{
    display: none;
}
.headersecond {
    padding: 1rem 0;
}
.headersecond .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 600;
}
.logo img{
    width: 2rem;
}
.headerright{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.headerright a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
#menuButton{
    background-color: transparent;
    border: none;
    color: rgb(5, 153, 5);
    font-size: 2rem;
}
#searchHold{
    display: none;
}
#menu{
    display: none;
}
@media only screen and (min-width: 768px) {
    body {
        .headertop .container{
            justify-content: space-between;
        }
        .languageSelect{
            display: flex;
            align-items: center;
            justify-content:center;
            gap:0.5rem;
        }
        .languageSelect img{
            width: 1rem;
        }
    }
  }
@media only screen and (min-width: 992px) {
    body {
      #menuButton{
        display: none;
      }
      .headerright{
        justify-content: space-between;
      }
      input{
        padding: 8px;
        border: none;
        width: 100%;
    }    
      #searchHold{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 60%;
        background-color: white;
        border-radius: 8px;
        padding: 0 16px;
        margin-right: 50px;
        border: 1px solid skyblue;
        } 
        nav{
            margin: 0.5rem 0 0 0;
            padding: 0.5rem 0;
        }
        #menu{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 30px;
        }
        .allDepart{
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: rgb(37, 189, 37);
            padding: 8px 10px;
            border-radius: 5px;
        }
        .allDepart a{
            text-decoration: none;
            color: white;
        }
        .home{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 8px 10px;
        }
        .home a{
            text-decoration: none;
            color: black;
        }
        .shop{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 8px 10px;
        }
        .shop a{
            text-decoration: none;
            color: black;
        }
        .stores{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 8px 10px;
        }
        .stores a{
            text-decoration: none;
            color: black;
        }
        }
    }
  
